<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite" parallel="tests" thread-count="2">
    <test name="Test" enabled="true" preserve-order="true">
        <parameter name="path" value="/"/>
        <!--classes>
            <class name="autoTests.estSiute.Test_Example_Attach"/>
            <class name="autoTests.TestSiute.Test_Example_Fill_Field"/>
            <class name="autoTests.TestSiute.Test_Example_Select"/>
        </classes-->
        <packages>
            <!--package name="autoTests.TestSiute"/-->
        </packages>
    </test>
</suite>
