<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite" parallel="tests" thread-count="2" verbose="1">
    <test name="Auth" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="authInteraction"/>
            </run>
        </groups>
        <classes>
            <class name="test.portal.TestSuite"/>
        </classes>
    </test>

    <test name="Ident" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="identity"/>
            </run>
        </groups>
        <classes>
            <class name="test.portal.TestSuite"/>
        </classes>
    </test>

    <test name="Police" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="police"/>
            </run>
        </groups>
        <classes>
            <class name="test.portal.TestSuite"/>
        </classes>
    </test>

    <test name="taxes" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="identity"/>
            </run>
        </groups>
        <classes>
            <class name="test.portal.TestSuite"/>
        </classes>
    </test>
</suite>