<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5">
    <test name="Test" verbose="5">
        <parameter name="path" value="/"/>
        <classes>
            <!--MAIN-->
            <class name="test.portal.main.AboutPortal"/>
            <class name="test.portal.main.Footer"/>
            <class name="test.portal.main.MainPage"/>
            <class name="test.portal.main.MyDocument"/>
            <class name="test.portal.main.MyJournal"/>
            <!--SERVICES-->
            <!--AUTHORITIES.INTERACTION-->
            <class name="test.portal.services.authorities.interaction.AssignSocialAssistanceForChildBirth"/>
            <class name="test.portal.services.authorities.interaction.Subsidy"/>
            <!--IDENTITY.CITIZENSHIP.RESIDENSE-->
            <class name="test.portal.services.identity.citizenship.residense.InternationalPassport"/>
            <class name="test.portal.services.identity.citizenship.residense.Registration"/>
            <!--POLICE.TRAFFIC-->
            <class name="test.portal.services.police.traffic.CriminalRecord"/>
            <class name="test.portal.services.police.traffic.RegisterUsedCar"/>
            <class name="test.portal.services.TestServices"/>
            <!--TAXES-->
            <class name="test.portal.services.taxes.PersonalIncomeCertificate"/>
        </classes>
    </test>
</suite>